body {
  margin-top: 80px;
}

body.front {
  margin-top: 56px;
}

body .navbar-inner {
background: #876554;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#876554), to(#5f463a)); /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, #876554 #5f463a); /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #876554 #5f463a); /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(top, #876554 #5f463a); /* Opera 11.10-12.00 */
  background-image:         linear-gradient(to bottom, #876554, #5f463a); /* Firefox 16+, IE10, Opera 12.50+ */

}

p {
  font-size: 18px;
  line-height: 28px;
}

.quail-result { padding: 3px; border-radius: 3px;}
  .quail-result.severe { border: 3px dashed red; }
  .quail-result.moderate { border: 3px dashed orange; }
  .quail-result.reccomendation { border: 3px solid green; }

.front-wrapper {
  background: #A08B4D;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#A08B4D), to(#dfc075)); /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, #A08B4D, #dfc07); /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #A08B4D, #dfc07); /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(top, #A08B4D, #dfc07); /* Opera 11.10-12.00 */
  background-image:         linear-gradient(to bottom, #A08B4D, #dfc07); /* Firefox 16+, IE10, Opera 12.50+ */
  margin-bottom: 20px;
  padding: 15px 0;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.front-wrapper .logo {
  position: absolute;
  right: 0;
  top: 0;
  background: url(../img/quail_background.png) top left no-repeat;
  width: 302px;
  height: 294px;
  z-index: 1;
}

.front-wrapper .container {
  z-index: 10;
  position: relative;
}

.front-wrapper h1 {
  color: white;
}

.download {
  text-align: center;
}